---
layout: index
---
{% for post in paginator.posts %}
<div class="blog-main">
   <div class="heading-blog">
        The security is main concern while developing applications
   </div>
   <a href="{{ post.url }}">
       <img src="assets/img/{{ post.image }}" class="img-responsive img-rounded" />
   </a>
   <div class="blog-info">
   <span class="label label-primary">Posted on 26th November 2014</span>
   <span class="label label-success">In Technology</span>
   <span class="label label-danger">By Jhon</span>
   <span class="label label-info">
   <i class="fa fa-thumbs-up"></i> + 10
   <i class="fa fa-thumbs-down"></i> - 3
   </span>
   </div>
   
   <div class="blog-txt">
         {{post.description}}
   </div>
</div>
{% endfor %}



{% if paginator.previous_page %}
<nav>
   <ul class="pagination">
      <li class="disabled">
         <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"Previous</a>
      </li>
{% endif %}
{% for page in (1..paginator.total_pages) %}
{% if page == paginator.page %}

      <li class="active"><a href="#">1 <span class="sr-only">{{ page }}</span></a></li>

      {% elsif page == 1 %}

      <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}<span class="sr-only"></span></a></li>
{% else %}

      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"><span class="sr-only">{{ page }}</span></a></li>

{% endif %}
{% endfor %}
{% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
   </ul>
</nav>
{% endif %}
