---
layout: index
---

{% for post in paginator.posts %}
<div class="blog-main">

   <a href="{{ post.url }}">
      <div class="heading-blog">
         {{post.title}}
      </div>
   </a>

   <div class="blog-txt">
         {{post.description}}
   </div>

</div>
{% endfor %}

2222222
0000000
<h4>Category</h4>
<ul>
   {% for category in site.categories %}
   <li>
      <a href="/categories/{{ category | first }}/" title="view all posts">
         {{ category | first }} {{ category | last | size }}
      </a>
   </li>
   {% endfor %}
</ul>


